<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=bd-kip.fa.ru; Initial Catalog=Pr-13; uid=sa; password=1qaz!QAZ; Integrated Security=False"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>